<div class="flex justify-content-left" id="header-background">
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div
          class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
        >
          <a class="navbar-brand" routerLink="{{ url }}">
            <span class="inline-flex align-items-center gap-2">
              <img
                width="33"
                height="35"
                class="block mx-auto"
                src="../../../assets/img/logo-g8.png"
              />
              <span class="font-semibold text-2xl text-primary">NOT JIRA</span>
            </span>
          </a>

          <!--close-->
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-2rem w-2rem" 
              ></p-button>
          </span>
        </div>

        <div class="overflow-y-auto">
          <!--tareas-->
          <ul class="list-none p-3 m-0">
            <li>
              <div
                pRipple
                pStyleClass="@next"
                enterClass="hidden"
                enterActiveClass="slidedown"
                leaveToClass="hidden"
                leaveActiveClass="slideup"
                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
              >
                <span class="font-medium">TAREAS</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <ng-template [ngIf]="admin" [ngIfElse]="employeeNav">
                  <li>
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                      routerLink="/admin/tareas"
                    >
                      <i class="pi pi-folder mr-2"></i>
                      <span class="font-medium">Ver listado</span>
                    </a>
                  </li>

                  <li>
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-chart-bar mr-2"></i>
                      <span class="font-medium">Nueva tarea</span>
                    </a>
                  </li>
                  <li>
                    <a
                      pRipple
                      pStyleClass="@next"
                      enterClass="hidden"
                      enterActiveClass="slidedown"
                      leaveToClass="hidden"
                      leaveActiveClass="slideup"
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                    >
                      <i class="pi pi-chart-line mr-2"></i>
                      <span class="font-medium">Auditoria</span>
                    </a>
                  </li>
                </ng-template>
                <ng-template #employeeNav>
                  <li>
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                      routerLink="/client/tareas"
                    >
                      <i class="pi pi-folder mr-2"></i>
                      <span class="font-medium">Ver tareas asignadas</span>
                    </a>
                  </li>
                </ng-template>
              </ul>
            </li>
          </ul>

          <ng-template [ngIf]="admin">
            <!--empleados-->
            <ul class="list-none p-3 m-0">
              <li>
                <div
                  pRipple
                  pStyleClass="@next"
                  enterClass="hidden"
                  enterActiveClass="slidedown"
                  leaveToClass="hidden"
                  leaveActiveClass="slideup"
                  class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
                >
                  <span class="font-medium">EMPLEADOS</span>
                  <i class="pi pi-chevron-down"></i>
                </div>
                <ul class="list-none p-0 m-0 overflow-hidden">
                  <li>
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                      routerLink="/admin/usuarios"
                      aria-current="page"
                    >
                      <i class="pi pi-folder mr-2"></i>
                      <span class="font-medium">Ver listado</span>
                    </a>
                  </li>
                  <li>
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                      routerLink="/create-usuario-admin"
                    >
                      <i class="pi pi-chart-bar mr-2"></i>
                      <span class="font-medium">Nuevo usuario</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </ng-template>
        </div>

        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <!--user-->
        <div class="mt-auto">
          <a
            pRipple
            class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
          >
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              shape="circle"
            />
            <span class="font-bold"> Hola {{ user.name }} ! </span>
          </a>
          <p-button
            class="m-3 flex align-items-center cursor-pointer p-3 gap-2"
            icon="pi pi-times"
            label="Cerrar Sesion"
            [raised]="true"
            severity="danger"
            (click)="cerrarSesion()"
          >
          </p-button>
        </div>
      </div>
    </ng-template>
  </p-sidebar>

  <p-button
    pRipple
    severity="contrast"
    (click)="sidebarVisible = true"
    icon="pi pi-bars"
    class="open-sidebar"
    [raised]="true"
    [rounded]="true"
  ></p-button>
</div>
