a {
  text-decoration: none;
  color: black;
}
// a.nav-link.active {
//   color: #ffc107;
// }

#header-background {
  font-family: var(--font-family);
  font-weight: normal;
  background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700));
  //background: var(--primary-50);
  //color: var(--text-color);
  padding: 1rem;
}

.open-sidebar {
  font-size: 1rem;
  border-radius: 10px;
  &:hover {
    font-size: 4rem;
  }
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
  #header-background {
  width: auto;
}
}

