<p-button matTooltip="Agregar tarea" *ngIf="btnText=='Agregar'" icon="pi pi-plus" class="mr-2" (click)="showDialog()"  severity="contrast"/>
<p-button matTooltip="Editar tarea" *ngIf="btnText=='Editar'" icon="pi pi-pen-to-square" class="mr-2" (click)="showDialog()" />
    <p-dialog [modal]="true" [draggable]="false" [(visible)]="visible"
        [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <create-activity [id]=this.activityId [title]="title"/>
    </p-dialog>