main {
  height: 90vh;
  margin: 0;
  // top: 10vh;
  // bottom: 10vh;
  // overflow: auto;
  // position: fixed !important;
  background: var(--primary-50);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

  @media only screen and (min-height: 400px) {
    .main {
      height: 60vh;
      top: 20vh;
      bottom: 20vh;
    }
  }

