main {
  margin: 0;
  // top: 10vh;
  // bottom: 10vh;
  // overflow: auto;
  // position: fixed !important;
  background: var(--primary-50);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  padding-bottom: 10rem;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

#container-wrap{
  position: relative;
  height: 100vh;
}


  @media only screen and (min-height: 400px) {
    .main {
      height: 60vh;
      top: 20vh;
      bottom: 20vh;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 5rem;
    }
  }

