<div *ngIf="admin" class="card-container">
    <p-card header="Fácil navegación" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card1.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>

    <p-card header="Gestiona usuarios" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card2.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>

    <p-card header="Gestiona actividades" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card3.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>

    <p-card header="Seguimiento de actividades" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card4.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>
</div>

<div *ngIf="employee" class="card-container" style="align-items: center;">
    
    <div class="text">
        <h2 class="display-as-h1 v--intl u-margin-top--flush">Todo es más fácil con Not Jira</h2>
        <p class="o-section--feature__copy u-margin-bottom--medium">Con una navegación sencilla lleva a cabo tus actividades</p>
    </div>

    <p-card header="Fácil navegación" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card1Emp.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>

    <p-card header="Gestiona actividades" subheader="Card Subheader">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/img/card3.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-card>
</div>