<app-base>
  <div class="container overflow-hidden">
    <!--Seccion 1-->
    <div
      class="flex flex-grow-1 md:flex-grow-0 align-items-center justify-content-center mt-4"
    >
      <h1 class="font-bold title-home">SISTEMA DE GESTION DE TAREAS</h1>
      <h1 id="change-home-title" class="font-semibold title-home">&nbsp;NOT JIRA</h1>
    </div>

    <!--Seccion 2 - admin 
    Repliquen el div de adentro como contenedor
    -->
    <ng-template [ngIf]="admin" [ngIfElse]="employeeHome">
        <div class="flex flex-grow-1 md:flex-grow-0 align-items-center justify-content-center mt-4">
            <p>Metan lo que quieran en este div</p>
        </div>
    </ng-template>

    <!--Seccion 2 - usuario
    Igual que arriba
-->
    <ng-template #employeeHome>
        <div class="flex flex-grow-1 md:flex-grow-0 align-items-center justify-content-center mt-4">
            <p>Metan lo que quieran en este div</p>
        </div>
    </ng-template>

  </div>
</app-base>
