<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{titulo}}</h3>
                    <span *ngIf="submitted && createUsuario.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="createUsuario" (ngSubmit)="addEditUsuario()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="name"
                                    placeholder="Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="lastName"
                                    placeholder="Last Name">
                            </div>
                            <div class="col">
                                <input type="email" class="form-control form-control-lg" formControlName="email"
                                    placeholder="Email">
                            </div>
                        </div>
                        <input type="password" class="form-control form-control-lg mt-3" formControlName="password"
                            placeholder="Password">
                        <div>
                            <div> 
                                <label for="role">Role</label>
                                <select class="form-control" id="role" formControlName="role">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="EMPLOYEE">EMPLOYEE</option>
                                </select>

                            </div>

                            <div>
                                <label for="status">Status</label>
                                <select class="form-control" id="status" formControlName="status">
                                  <option value="ACTIVE">ACTIVE</option>
                                  <option value="INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                        </div>    
                        
                        <div class="mt-3">
                            <!-- <button type="text" class="btn btn-secondary btn-lg mr-3"
                                routerLink="/admin/usuarios">Volver</button> -->
                            <button type="submit" class="btn btn-dark btn-lg">{{boton}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>