<app-base>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <span class="h3">Lista de Actividades</span>
                  <table #t class="table table-hover">
                    <thead>
                      <tr>
                        <th>Titulo</th>
                        <th>Tipo</th>
                        <th>Prioridad</th>
                        <th>Estado</th>
                        <th>Asignado a</th>
                        <th>Mostrar records</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let activity of activities">
                        <td>{{activity.title}}</td>
                        <td>{{activity.type}}</td>
                        <td>{{activity.priority}}</td>
                        <td>{{activity.status}}</td>
                        <td>{{activity.user}}</td>
                        <td><dialog-record [activityId]=activity.id /></td>
                      </tr>
                      <tr>
                        <p-button
                        class="accion"
                        icon="pi pi-file"
                        label="Exportar"
                        (click)="exportToCSV()"
                        pTooltip="Exportar"
                      ></p-button>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </app-base>
