<app-base>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <span class="h3">Lista de Actividades</span>
                 <!-- <button class="btn" routerLink='/create-empleado'>Agregar</button> -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Titulo</th>
                        <th>Tipo</th>
                        <th>Prioridad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let activity of activities">
                        <td>{{activity.title}}</td>
                        <td>{{activity.type}}</td>
                        <td>{{activity.priority}}</td>
                        <td>{{activity.status}}</td>
                        <td>
                          <p-buttonGroup >
                            <p-button label="Terminar" icon="pi pi-check" severity="success" size="small" [raised]="true" [rounded]="true" (onClick)="updateStatus(activity.id, 'FINISHED')"/>
                            <p-button label="En Progreso" icon="pi pi-bell" severity="help" size="small" [raised]="true" [rounded]="true" (onClick)="updateStatus(activity.id, 'IN PROGRESS')"/>
                            <p-button label="Cancelar" icon="pi pi-times" severity="danger" size="small" [raised]="true" [rounded]="true" (onClick)="updateStatus(activity.id, 'CANCELED')"/>
                          </p-buttonGroup>
                      </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </app-base>
