<div id="inicio-de-sesion">
  <form [formGroup]="form">
    <div class="titulo">
      <img class="logo" src="../../../assets/img/llave.png" alt="img clave">
       <h1>Inicio de sesión</h1>
    </div>
    <div class="contenedor-input">
      <input id="nombre-usuario" pInputText type="text" formControlName="nombreUsuario" placeholder="Usuario" />
    </div>
    <div class="contenedor-input">
      <input id="clave" pInputText type="password" formControlName="clave" placeholder="Contraseña" />
    </div>
    <!-- <div class="contenedor-input">
      <label for="clave">Clave: </label>
      <p-password id="clave" formControlName="clave"></p-password>
    </div> -->
    <p-button label="Confirmar" (onClick)="login()"></p-button>
  </form>
</div>
<p-toast></p-toast>

