<div id="inicio-de-sesion">
  <form [formGroup]="form">
    <div class="titulo">
       <h1>Inicio de sesión</h1>
    </div>
    <div class="contenedor-input">
      <input id="nombre-usuario" pInputText type="text" formControlName="nombreUsuario" placeholder="Usuario" />
      <i class="fa-solid fa-user" style="color: #ffffff;"></i>
    </div>
    <div class="contenedor-input">
      <input id="clave" pInputText type="password" formControlName="clave" placeholder="Contraseña" />
      <i class="fa-solid fa-lock" style="color: #fcfcfd;"></i>
    </div>
    <button class="btn" (click)="login()">Confirmar</button>
    <div class="register-link">
      <p>¿Todavía no tenes una cuenta?</p><app-register-dialog />
    </div>
  </form>
</div>
<p-toast></p-toast>

