@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    min-height: 100vh;
  }
  
  //Para primeNG
  html {
    font-size: 12px;
    height: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    html {
      font-size: 16px;
    }
  }
  
  .contenedor-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

// .btn2{
//   background-color: #ffc107;
//   height: 40px;
//   outline: none;
//   border-radius: 10px;
//   font-size: 16px;
//   font-weight: 600;
//   border:none;
// }

// .btn2 button:hover {
//   background-color: #ffc107 !important;

// }
