
#footer-background {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    height: 10rem; 
    //font-family: var(--font-family);
    font-weight: normal;
    background-color: var(--bluegray-900);
    color: white;
    padding: 1rem;
  }

  .contact{
    font-style: italic;
    font-weight: 300;
  }