<div class="flex justify-content-around flex-wrap align-items-center" id="footer-background">
  <div class="text-center">
    <span class="inline-flex align-items-center gap-2">
      <img width="33" height="35" class="block mx-auto" src="../../../assets/img/logo-g8.png" />
    </span>
    <p class="text-center white-space-normal">It is a company made with<br />a lot of sacrifice and humility</p>
  </div>

  <div class="text-center">
    <h4 class="text-uppercase font-semibold">Contacto</h4>
    <div>
      <p class="contact"><i class="fa-solid fa-envelope text-primary"></i>&nbsp;eemi.walter&#64;gmail.com</p>
      <p class="contact"><i class="fa-solid fa-envelope text-primary"></i>&nbsp;mauro98sanchez&#64;gmail.com</p>
      <p class="contact"><i
          class="fa-solid fa-envelope text-primary"></i>&nbsp;sebastian.ignacio.centurion&#64;gmail.com</p>
    </div>
  </div>
  <div class="text-center">
    <h4 class="text-uppercase font-semibold">Links de interes</h4>
    <a href="https://github.com/danimaschio14/Trabajo-Integrador" style="color: #fafafa; text-decoration: none;">
      <p class="contact">
        <i class="fa-brands fa-github text-primary">
        </i>&nbsp;Respositorio de github
      </p>
    </a>
  </div>
</div>